
lektion6/output/opgave6-6.dSYM/Contents/Resources/DWARF/

lektion7/output/opgave8-1.dSYM/Contents/Resources/DWARF/

*.plist

eksamensopgave1.dSYM/Contents/Resources/DWARF/

output/eksamensopgave1.dSYM/Contents/Resources/DWARF/
